body {
    color: #434455;
    background-color: white;
    font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;

}

a {
    text-decoration: none;
}

a:hover {
    color: #404bbf;
}

.container {
    max-width: 320px;
    padding: 0;
    margin: 0 auto;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* MOBILE-MENU */
.mobile-menu {
    display: none;
    flex-direction: column;
    margin: auto;
    width: 320px;
    height: 100vh;
    padding: 24px 24px 40px 16px;
}

.mobile-menu-close {
    width: 24px;
    height: 24px;
    margin-left: auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E7E9FC;
    background-color: #ffffff;
    cursor: pointer;
    margin-bottom: 24px;
}

.mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 168px;
}

.mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.mobile-menu-contacts {
    margin-bottom: 48px;
}

.mobile-menu-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-menu-contacts-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.mobile-social-pages {
    display: flex;
    justify-content: center;
    gap: 40px;
}

/* HEADER */
.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.section-header {
    display: flex;
    padding: 0 16px 0 16px;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

.logo-web {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    padding: 16px 0 16px;
}

.logo-studio {
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    color: #2E2F42;
}

.nav-menu-button {
    padding: 0;
    display: flex;
    border: none;
    background: transparent;
}

.menu-list {
    display: none;
    flex-direction: row;
    gap: 40px;
}

.menu-list-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding: 24px 0 24px;
    display: block;
}

.menu-list-item:hover {
    color: #404bbf;
}

.studio {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.menu:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
    margin-left: auto;
}

.address-list {
    display: none;
    flex-direction: row;
    gap: 40px;
    padding: 24px 0 24px;
}

.address-email-tel {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-email-tel:focus {
    color: #404bbf;
}

.address-email-tel:hover {
    color: #404bbf;
}

/* Section 1 - Hero*/
.section-hero {
    background-color: #2e2f42;
    padding: 72px 0 72px;
    max-height: 432px;
    margin: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/mobile-image/people-office@1x.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section-hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    max-width: 216px;
    margin: auto;
}

.section-hero-button {
    background: #4D5AE5;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 16px 32px;
    margin-top: 72px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.hero-button:hover {
    background-color: #404BBF;
}

.hero-button:focus {
    background-color: #404BBF;
}

/* Section 2 */
.section-two {
    padding: 96px 16px 96px 16px;
}


.section-two-li {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

ul li.section-two-li-item {
    max-width: 100%;
}

.section-two-icon {
    display: none;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

.section-two-list-li-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 8px;
}

.section-two-list-li-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Section 3 - Our team */
.our-team-section {
    background-color: #F4F4FD;
    padding: 96px 28px 96px 28px;
}

.our-team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.our-team-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.our-team {
    background-color: #FFFFFF;
    width: 100%;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.our-team-name-position {
    padding: 32px 16px;
}


.our-team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 8px;
}

.our-team-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
}

.social-pages {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-page {

    width: 40px;
    height: 40px;
}

.social-page-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-page-icon {
    fill: #f4f4fd;
}

.social-page-link:hover {
    background-color: #404bbf;
}

.social-page-link:focus {
    background-color: #404bbf;
}

/* Section 4 - Our portfolio*/
.our-portfolio {
    padding: 96px 16px 96px 16px;
}

.our-portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.our-portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.our-portfolio-project {
    background-color: #FFFFFF;
    width: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-project:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.our-portfolio-project-photo {
    position: relative;
    overflow: hidden;
}

.our-portfolio-project-paragraph {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-project-title-description {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.our-portfolio-project-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.our-portfolio-project-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.our-portfolio-project:hover .our-portfolio-project-paragraph {
    transform: translateY(0%);
}

/* FOOTER */
.footer {
    background-color: #2e2f42;
    padding: 96px 16px 96px 16px;
    text-align: center;
    justify-content: center;
}

.container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-footer-logo {
    max-width: 288px;
    height: 112px;
    margin-bottom: 72px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    display: inline-block;
}

.footer-logo-studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 288px;
    height: 72px;
    text-align: start;
    margin-top: 17.5px;
}

.footer-social-media {
    margin-bottom: 72px;
}

.footer-social-media-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-social-media-pages {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.footer-social-media-page {
    width: 40px;
    height: 40px;
}

.footer-social-media-page-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-media-page-link:hover {
    background-color: #31d0aa;
}

.footer-social-media-page-link:focus {
    background-color: #31d0aa;
}

.footer-social-media-page-icon {
    fill: #f4f4fd;
}

.footer-subscribe-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    text-align: center;
}

.footer-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.footer-form-input {
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    opacity: 0.3;
    padding-left: 16px;
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.footer-form-button {
    border-radius: 4px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

.footer-button-icon {
    margin-left: 16px;
}

/* MODAL-OVERLAY */
.modal-overlay {
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
}

.modal {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 623px;
    border-radius: 4px;
    background: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 16px 16px 16px;
}

.modal-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.modal-close-button:hover {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 16px;
}

.form {
    border-radius: 4px;
    width: 256px;
    height: 336px;
}

.modal-border {
    margin-bottom: 8px;
}

.form-label {
    display: block;
    flex-direction: column;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.input-border {
    position: relative;
}

.form-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
}

.form-input:focus {
    border-color: #4D5AE5;
}

.input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus+.input-icon {
    fill: #4D5AE5;
}

.imput-icon-svg:focus {
    fill: #4D5AE5;
}

.modal-textarea {
    margin-bottom: 16px;
}

.form-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:focus {
    border-color: #4D5AE5;
}

.modal-checkbox {
    margin-bottom: 24px;
}

.checkbox-text {
    display: flex;
    gap: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    align-items: center;
}

.checkbox-icon {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
    padding: 2px;
}

input[type="checkbox"]:checked+label .checkbox-icon {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.checkbox-privacy-policy {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
}

.checkbox-privacy-policy-link {
    display: block;
    line-height: 133%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.modal-send-button {
    display: block;
    margin: auto;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
}

/* MEDIA */
@media (max-width: 767px) {
    .is-open {
        display: flex;
    }
}

@media (min-width: 768px) and (max-width: 1157px) {

    .container {
        max-width: 768px;
    }

    /* HEADER */

    .section-header {
        padding: 0 15px 0 15px;
    }

    .logo-web {
        margin-right: 76px;
        padding: 24px 0 24px;
    }

    .nav-menu-button {
        display: none;
    }

    .menu-list {
        display: flex;
    }

    /* HEADER */

    .logo-web {
        margin-right: 120px;
    }

    .menu {
        margin-right: 120px;
    }

    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 16px 0 16px 0;
    }

    .address-email-tel {
        font-weight: 400;
        font-size: 12px;
        line-height: 117%;
        letter-spacing: 0.04em;
    }

    /* HEADER */
    /* Section 1 */

    .section-hero {
        padding: 112px 0 112px;
        max-height: 436px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/tablet-image/people-office@1x.jpg');
    }

    .section-hero-title {
        font-size: 56px;
        line-height: 107%;
        max-width: 496px;
    }

    .section-hero-button {
        margin-top: 36px;
    }

    /* Section 1 */
    /* Section 2 */
    .section-two {
        padding: 96px 16px 96px 16px;
    }

    .section-two-li {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }

    ul li.section-two-li-item {
        width: calc((100% - 24px) / 2);
    }

    .section-two-list-li-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        text-align: start;
    }


    .section-two-list-li-text {
        font-weight: 500;
    }

    /* Section 2 */
    /* Section 3  */

    .our-team-section {
        padding: 96px 108px 96px 108px;
    }

    .our-team-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 64px;
    }

    .our-team {
        max-width: calc((100% - 24px) / 2);
    }

    /* Section 3 */
    /* Section 4 */

    .our-portfolio-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }

    .our-portfolio-project {
        width: calc((100% - 24px) / 2);
    }

    /* Section 4 */
    /* FOOTER */

    .footer {
        background-color: #2e2f42;
        padding: 96px 0 96px 108px;
        text-align: center;
        justify-content: center;
    }

    .container-footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .container-footer-logo {
        max-width: 264px;
        text-align: start;
        margin-right: 24px;
    }

    .footer-social-media-title {
        text-align: start;
    }

    .footer-subscribe-text {
        text-align: start;
    }

    .footer-form {
        display: flex;
        flex-direction: row;
        gap: 24px;
        justify-content: center;
        align-items: center;
    }

    .footer-form-input {
        width: 264px;

    }

    /* FOOTER */
    /* MODAL-OVERLAY */

    .modal {
        top: 50%;
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    }

    .form {
        width: 360px;
    }

    .checkbox-privacy-policy {
        display: flex;
        gap: 4px;
        align-items: center;
    }

    /* MODAL-OVERLAY */
    /* MODAL-OVERLAY */
}

@media (min-width: 1158px) {

    .container {
        max-width: 1158px;
        margin: 0 auto;
        padding: 0 15px;
    }

    /* HEADER */

    .logo-web {
        margin-right: 76px;
        padding: 24px 0 24px;
    }

    .nav-menu-button {
        display: none;
    }

    .menu-list {
        display: flex;
    }

    .address-list {
        display: flex;
        flex-direction: row;
        gap: 40px;
        padding: 24px 0 24px;
    }

    /* HEADER */



    /* Section 1 */

    .section-hero {
        padding-top: 188px;
        padding-bottom: 188px;
        max-height: 600px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/desktop-image/people-office@1x.jpg');
    }

    .section-hero-title {
        font-size: 56px;
        line-height: 107%;
        max-width: 496px;
    }

    .section-hero-button {
        margin-top: 48px;
    }

    /* Section 1 */
    /* Section 2 */
    .section-two {
        padding: 120px 0 120px;
    }

    .section-two-li {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    ul li.section-two-li-item {
        width: calc((100% - 72px) / 4);
    }

    .section-two-icon {
        display: flex;
    }

    .section-two-list-li-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        text-align: start;
    }

    .section-two-list-li-text {
        font-weight: 400;
    }

    /* Section 2 */
    /* Section 3 */

    .our-team-section {
        padding: 120px 0 120px;
    }

    .our-team-list {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .our-team {
        width: calc((100% - 72px) / 4);
    }

    /* Section 3  */
    /* Section 4 */

    .our-portfolio {
        padding: 120px 0px 120px;
    }

    .our-portfolio-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
    }

    .our-portfolio-project {
        width: calc((100% - 48px) / 3);
    }



    /* Section 4 */
    /* Footer */

    .footer {
        background-color: #2e2f42;
        padding: 100px 0 100px 0;
        text-align: center;
        justify-content: center;
    }

    .container-footer {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }

    .container-footer-logo {
        max-width: 264px;
        text-align: start;
        margin-right: 120px;
    }

    .footer-social-media {
        margin-right: 80px;
    }

    .footer-social-media-title {
        text-align: start;
    }

    .footer-subscribe-text {
        text-align: start;
    }

    .footer-form {
        display: flex;
        flex-direction: row;
        gap: 24px;
        justify-content: center;
        align-items: center;
    }

    /* FOOTER */
    /* MODAL-OVERLAY */

    .modal {
        top: 50%;
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    }

    .form {
        width: 360px;
    }

    .checkbox-privacy-policy {
        display: flex;
        gap: 4px;
        align-items: center;
    }
}